html, body {
	padding: 0px; margin: 0px;
	font-family: sans-serif;
	font-size: small;
}

#container {
	width:100vw;
	height:100vh;
}

#paper {
	background-color: #202229
}

/* Node styles */

.magnet.input {
	fill: darkgreen;
}
.magnet.output {
	fill: #2c2f33;
	fill: darkred;
}

.joint-type-dialogue rect {
	fill: #101219;
	stroke: 'none';
}

.node {
	position: absolute;
	background: transparent; /* Handled by the SVG instead. */
	pointer-events: none;
	-webkit-user-select: none;
	z-index: 1;
	color: #fff;
	padding: 20px;
}

.node select, .node input, .node textarea, .node button {
   /* Enable mouse interaction. */
   pointer-events: all;
}

/* Editor tools */

.marker-target {
	fill: #fff;
	stroke-width: 0;
}

.marker-vertex, .marker-arrowhead {
	fill: #fff;
}
.marker-vertex:hover, .marker-arrowhead {
	stroke: none;
}

.marker-vertex:hover, .marker-arrowhead:hover{
	fill: #000;
}

.link-tools .tool-remove circle {
	fill: #c0392b;
}

.connection {
	stroke: #fff;
	stroke-width: 5;
}
